/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('images/montevideo.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 300px;
}
header {
  line-height: 1.5;
}
.arrow {
  background-image: url(images/arrow.jpg); 
  margin-top: 50px;
  width: 200px;
  height: 200px;
  transition: all .5s;
  float: left; /*Got this from https://stackoverflow.com/questions/32258016/how-to-move-image-with-css-html, "user4798789" was just asking a question but I tried the float command and did the trick at placing the arrow on the left that's what I wanted*/
}
.arrow:hover {
  transform: scale(1.2) rotate(5deg);
}
.arrow2 {
  background-image: url(images/arrow.jpg); 
  margin-top: 50px;
  width: 200px;
  height: 200px;
  transition: all .5s;
  float: right;
}
header .uruguay {
  border-radius: 50%;
  margin-top: 20px;
  position: relative;
  bottom: 250px;
  transition: all 1s;
  transition-timing-function: .2s;  

}
.uruguay:hover {
  transform: scale(1.1) rotate(360deg);
}
header .arrow2:hover {
  transform: scale(1.2) rotate(5deg);
}
header .tag {
  background-color: #efefef;
  color: black;
  padding: 8px;
  border-radius: 5px;
  display: table;
  margin: 20px auto;
  position: relative;
  bottom: 250px;
} 
header .location {
  background-color: #222;
  color: rgb(255, 255, 255);
}
.card1 {
  margin: 10px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card1:hover {
  border-color: #ff99ff;
}

.card2 {
  margin: 10px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card2:hover {
  border-color: #67ee73;
}

.card3 {
  margin: 10px;
  padding: 20px 40px 40px;
  max-width: 500px;
  max-height: 450px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card3:hover {
  border-color: #1c93d8;
}
.card4 {
  margin: 10px;
  padding: 20px 40px 40px;
  max-width: 900px;
  text-align: middle;
  background: rgb(218, 236, 138);
  border-bottom: 4px solid rgb(11, 38, 51);
  border-radius: 6px;
  transition: all .5s;
}
.card4:hover {
  border-color: #237520;
}
ul.skills {
  padding: 0;
  text-align: center;
}

.skills li{
  border-radius: 6px;
  display: inline-block;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills-html {
background-color: #0468ff;  
}
.skills-css {
background-color: #ff9904;  
}
.skills-javascript {
background-color: #eb2525;  
}
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

